/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=bfe28430-ac5a-404b-92ab-ed66b54999ca");
@font-face{
font-family:"helvetica neue medium";
src:url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
src:url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"),url("../fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),url("../fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),url("../fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}
@font-face{
font-family:"helvetica neue medium condensed";
src:url("../fonts/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix");
src:url("../fonts/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix") format("eot"),url("../fonts/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),url("../fonts/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"),url("../fonts/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg");
}

$med: "helvetica neue medium", Helvetica, sans-serif;
$med-cond: "helvetica neue medium condensed", Helvetica, sans-serif;
$blue1: #019ed8;
$blue2: #0075b5;
$blue3: #00aeef;
$black: #000;
$white: #fff;
$grey1: #f4f4f4;
$grey2: #f5f5f5;
$grey3: #f9f9f9;

@mixin bg-gradient-stacked {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f8f8f8 79%, #f7f7f7 82%, #f6f6f6 85%, #f5f5f5 88%, #f4f4f4 91%, #f3f3f3 94%, #f2f2f2 97%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(79%,#f8f8f8), color-stop(82%,#f7f7f7), color-stop(85%,#f6f6f6), color-stop(88%,#f5f5f5), color-stop(91%,#f4f4f4), color-stop(94%,#f3f3f3), color-stop(97%,#f2f2f2), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f8f8f8 79%,#f7f7f7 82%,#f6f6f6 85%,#f5f5f5 88%,#f4f4f4 91%,#f3f3f3 94%,#f2f2f2 97%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f8f8f8 79%,#f7f7f7 82%,#f6f6f6 85%,#f5f5f5 88%,#f4f4f4 91%,#f3f3f3 94%,#f2f2f2 97%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f8f8f8 79%,#f7f7f7 82%,#f6f6f6 85%,#f5f5f5 88%,#f4f4f4 91%,#f3f3f3 94%,#f2f2f2 97%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#f8f8f8 79%,#f7f7f7 82%,#f6f6f6 85%,#f5f5f5 88%,#f4f4f4 91%,#f3f3f3 94%,#f2f2f2 97%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

@mixin bg-gradient-floated {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(left,  #f9f9f9 0%, #f8f8f8 82%, #f7f7f7 85%, #f6f6f6 88%, #f5f5f5 91%, #f4f4f4 94%, #f3f3f3 97%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(82%,#f8f8f8), color-stop(85%,#f7f7f7), color-stop(88%,#f6f6f6), color-stop(91%,#f5f5f5), color-stop(94%,#f4f4f4), color-stop(97%,#f3f3f3), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f9f9f9 0%,#f8f8f8 82%,#f7f7f7 85%,#f6f6f6 88%,#f5f5f5 91%,#f4f4f4 94%,#f3f3f3 97%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f9f9f9 0%,#f8f8f8 82%,#f7f7f7 85%,#f6f6f6 88%,#f5f5f5 91%,#f4f4f4 94%,#f3f3f3 97%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f9f9f9 0%,#f8f8f8 82%,#f7f7f7 85%,#f6f6f6 88%,#f5f5f5 91%,#f4f4f4 94%,#f3f3f3 97%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to right,  #f9f9f9 0%,#f8f8f8 82%,#f7f7f7 85%,#f6f6f6 88%,#f5f5f5 91%,#f4f4f4 94%,#f3f3f3 97%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
}
@mixin box-sizing($foo) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


* {
  @include box-sizing(border-box);
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
	color: $black;
	line-height: 1em;
	background: $white;
}
h1 {
	font: 90px $med-cond; 
	line-height: .9em;
	span {
		margin-left:-10px;
		font-size: 30px;
		text-transform: uppercase;
		line-height: .9em;
	}
}
h2 {
	font: 26px $med-cond;
	line-height: 1.4em;
	span {
		font-size: 18px;
		text-transform: uppercase;
		line-height: 1.4em;
	}	
}
h3 {
	font: 15px $med-cond; 
	text-transform: uppercase;
}
p {
	font: 12px $med;
	opacity: .6;
	margin-top: 35px;
}
.container {
	margin:15px auto;
	width: 90%;
	background: $grey3;
	position: relative;
}
nav {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	li {
		float: left;
		width: 50%;
		height: 50px;
		font: 15px $med-cond;
		text-transform: uppercase;
		text-align: center;
		line-height: 50px;
		background-color:$blue1;
		color: $white;		
	}
	li.active {
		background:none;
		color: $black;
	}	
}
section {
	overflow: hidden;
	margin: 0 auto;
	@include bg-gradient-stacked;
	.wrap {
		padding: 80px 40px;
	}
}
.icon-wrap {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
	.icon {
		position: relative; 
		background-image: url(../img/sprite.png); 
		background-repeat: none;
	}
}

section:nth-of-type(1) {
	h1, h2 {
		color: $blue1;
	}	
}
section:nth-of-type(2) {
	h1, h2 {
		color: $blue2;
	}	
}
section:nth-of-type(3) {
	h1, h2 {
		color: $blue3;
	}
}
.member section:nth-of-type(1) {
	.icon {
		width: 26px;
	 	height: 26px; 
	 	background-position: 0 0;
	}
}
section:nth-of-type(2) {
	.icon {
		width: 22px; 
		height: 26px;
		background-position: -26px 0;
	}
}
.member section:nth-of-type(3) {
	.icon {
		width: 32px; 
		height: 32px;
		background-position: -48px 0;
	}
}
.summary section:nth-of-type(1) {
	.icon {
		width: 31px;
		height: 32px;
		background-position: -80px 0;
	}
}
.summary section:nth-of-type(3) {
	.icon {
		width: 47px;
		height: 26px;
		background-position: -111px 0;
	}
}

@media (min-width: 767px) {
	.container {
		width: 100%;
		margin:0 0 15px 0;
		padding:15px 15px 0 15px;
		nav {
			width: 100%;
		}
	}
	section {
		float: left;
		width: 33%;
		@include bg-gradient-floated;
		.wrap {
			padding:80px 20px;
		}
	}
}
@media (min-width: 991px) {
	section {
		.wrap {
			padding:80px 60px;
		}
	}
}




